.nav-container{
    background-color: rgb(29 29 162 / 92%);
    height: 20vh;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.link-container{
    grid-area: 1/ 4/ 5/ 7;
}

.link-list{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.link{
    color: rgb(240, 240, 156);
    font-size: 1.2em;
    font-family: 'Hind Siliguri', sans-serif;
    margin: 1%;
    
}

.link:hover{
    color: rgb(255, 255, 0);
    border-bottom: 2px dotted beige;
}
/* /font-family: 'Big Shoulders Inline Text', cursive; */
/*
font-family: 'Big Shoulders Inline Text', cursive;
font-family: 'Hind Siliguri', sans-serif;
*/
.app-title{
    grid-area: 3/ 1/ 6/ 4;
    color: rgb(240, 240, 97);
    font-family: 'Big Shoulders Inline Text';
    font-size: 6em;
    margin: 0%;
}

.find-button{
    grid-area: 6/ 6/ 6/ 7;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    border: none;
    outline: none;
}

.find-button:hover{
    background-color:#FFFFFF;
    color:#4eb5f1;
    cursor: pointer;
}

.find-button:active{
    padding-bottom: 1%;
}